@font-face {
  font-family: "Bowlby One SC";
  src: local("Bowlby One SC"), url("/BowlbyOneSC-Regular.ttf");
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.content {
  flex-grow: 1;
}

.header,
.footer {
  flex-grow: 0;
}

.banner {
  height: 100px;
  background: no-repeat center/cover url("/banner.jpeg");
}

.title {
  font-size: 24px;
  font-family: "Bowlby One SC";
  text-align: center;
  margin: 40px 0;
}

.card-drawer {
  display: flex;
  column-gap: 32px;
  row-gap: 60px;
  max-width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-width: 0;
  max-width: 300px;
  flex: 1 0 auto;
}

.footer {
  padding: 24px 0;
  margin-block-start: 32px;
  text-align: center;
  background: black;
  color: gray;
}
